html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #000;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

h1 {
	margin: 0 0 1em 0;
	padding: 0;
	font-size: 48px;
	line-height: 48px;
	font-weight: normal;
	letter-spacing: -0.01em;
	color: #ffd34e;
}

a {
	color: #0288d1;
	text-decoration: underline;
}

a:hover, a:active {
	color: #109dea;
	text-decoration: underline;
}

p {
	margin: 1em 0 0 0;
}

p#messageContent {
	margin: 0;
}

select, button {
    width: calc(50% - 8px);
	margin: 0;
}

button:first-child {
	margin-right: 16px;
}

select.narrow {
    width: calc(25% - 8px);
}

.item label {
	display:inline-block;
	width: calc(25% - 16px);
    margin: 0 16px 0 0;
    padding: 0;
}

label.secondary {
    margin-left: calc(50% + 8px);
}

label.itemName {
	width: calc(50% - 8px) !important;
	font-weight: 500;
}


/* Layout */

div#content {
	min-width: 286px;
	max-width: 520px;
    margin: 32px auto;
    padding: 0 16px 0 16px;
}

div.section {
	margin: 48px 0 0 0;
}

div.item {
	margin: 0 0 10px 0;
}

div#intro {
	font-size: 18px;
}

div#message {
	margin: 24px 0 0 0;
	padding: 0.65em 16px 0.7em 16px;
	border-radius: 4px;
	background: #e8fcff;
	color: #114a54;
}

div#message a {
	color: #114a54;
}

div#message a:hover, div#message a:active {
	color: #11606e;
}


div.fatal {
	background: #ffe3ea !important;
	color: #8e0024 !important;
}

div.fatal a {
	color: #8e0024 !important;
}

div.fatal a:hover, div.fatal a:active {
	color: #a20029 !important;
}
